In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("/content/train.csv")

In [4]:
df.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [5]:
df.size

10692

In [6]:
df.shape

(891, 12)

In [7]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [8]:
l1 = ['PassengerId','Cabin','Ticket']

In [9]:
df.drop(l1, axis=1, inplace=True)

In [10]:
df.head()

   Survived  Pclass  ...     Fare Embarked
0         0       3  ...   7.2500        S
1         1       1  ...  71.2833        C
2         1       3  ...   7.9250        S
3         1       1  ...  53.1000        S
4         0       3  ...   8.0500        S

[5 rows x 9 columns]

In [11]:
temp = df["Name"].unique()

In [12]:
temp[:10]

array(['Braund, Mr. Owen Harris',
       'Cumings, Mrs. John Bradley (Florence Briggs Thayer)',
       'Heikkinen, Miss. Laina',
       'Futrelle, Mrs. Jacques Heath (Lily May Peel)',
       'Allen, Mr. William Henry', 'Moran, Mr. James',
       'McCarthy, Mr. Timothy J', 'Palsson, Master. Gosta Leonard',
       'Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)',
       'Nasser, Mrs. Nicholas (Adele Achem)'], dtype=object)

In [13]:
st = []

for i in temp:
  a = i.split(' ')
  for k in a:
    if '.' in k:
      st.append(k)
      break

In [14]:
st[:10]

['Mr.',
 'Mrs.',
 'Miss.',
 'Mrs.',
 'Mr.',
 'Mr.',
 'Mr.',
 'Master.',
 'Mrs.',
 'Mrs.']

In [15]:
type(st)

list

In [16]:
st = np.array(st)
df["New_Name"] = st

In [17]:
type(st)

numpy.ndarray

In [18]:
df.head()

   Survived  Pclass  ... Embarked New_Name
0         0       3  ...        S      Mr.
1         1       1  ...        C     Mrs.
2         1       3  ...        S    Miss.
3         1       1  ...        S     Mrs.
4         0       3  ...        S      Mr.

[5 rows x 10 columns]

In [19]:
df["New_Name"].unique()

array(['Mr.', 'Mrs.', 'Miss.', 'Master.', 'Don.', 'Rev.', 'Dr.', 'Mme.',
       'Ms.', 'Major.', 'Lady.', 'Sir.', 'Mlle.', 'Col.', 'Capt.',
       'Countess.', 'Jonkheer.'], dtype=object)

In [20]:
l2 = ['Name']
df.drop(l2, axis=1, inplace=True)

In [21]:
df.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked New_Name
0         0       3    male  22.0      1      0   7.2500        S      Mr.
1         1       1  female  38.0      1      0  71.2833        C     Mrs.
2         1       3  female  26.0      0      0   7.9250        S    Miss.
3         1       1  female  35.0      1      0  53.1000        S     Mrs.
4         0       3    male  35.0      0      0   8.0500        S      Mr.

In [22]:
df.isnull().sum()

Survived      0
Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
Fare          0
Embarked      2
New_Name      0
dtype: int64

In [23]:
emb = list(df["Embarked"].mode())[0]
df["Age"].fillna(df["Age"].mean(), inplace=True)
df["Embarked"].fillna(emb, inplace=True)

In [24]:
df.isnull().sum()

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
New_Name    0
dtype: int64

In [25]:
from sklearn.preprocessing import LabelEncoder
le_s = LabelEncoder()
le_n = LabelEncoder()
le_e = LabelEncoder()

In [26]:
df["Sex"] = le_s.fit_transform(df["Sex"])
df["New_Name"] = le_n.fit_transform(df["New_Name"])
df["Embarked"] = le_e.fit_transform(df["Embarked"])

In [27]:
df.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked  New_Name
0         0       3    1  22.0      1      0   7.2500         2        12
1         1       1    0  38.0      1      0  71.2833         0        13
2         1       3    0  26.0      0      0   7.9250         2         9
3         1       1    0  35.0      1      0  53.1000         2        13
4         0       3    1  35.0      0      0   8.0500         2        12

In [28]:
df.shape

(891, 9)

In [29]:
X = df.iloc[:,1:].values
Y = df.iloc[:,0].values

In [30]:
X.shape, Y.shape

((891, 8), (891,))

In [31]:
from sklearn.model_selection import train_test_split

In [32]:
x_train, x_test, y_train, y_test = train_test_split(X, Y,test_size=0.2 )

In [33]:
from sklearn.preprocessing import StandardScaler
sc_x = StandardScaler()
x_train = sc_x.fit_transform(x_train)
x_test = sc_x.fit_transform(x_test)

In [34]:
x_train[:5], x_test[:5]

(array([[ 8.13763341e-01,  7.28822884e-01,  7.91887875e-04,
         -4.88884724e-01, -4.87569191e-01, -5.36260156e-01,
          5.93969696e-01,  4.20657578e-01],
        [ 8.13763341e-01,  7.28822884e-01,  4.76316676e-01,
          4.57000938e-01,  7.84039835e-01, -1.66981018e-01,
          5.93969696e-01,  4.20657578e-01],
        [-3.71102710e-01,  7.28822884e-01, -5.04787540e-01,
         -4.88884724e-01, -4.87569191e-01, -4.10617845e-01,
          5.93969696e-01,  4.20657578e-01],
        [-1.55596876e+00, -1.37207547e+00, -4.29317985e-01,
         -4.88884724e-01, -4.87569191e-01,  1.12239970e+00,
         -1.92333044e+00, -1.17530084e+00],
        [-3.71102710e-01, -1.37207547e+00,  2.06117733e+00,
         -4.88884724e-01, -4.87569191e-01, -4.65244937e-01,
          5.93969696e-01,  9.52643716e-01]]),
 array([[ 0.88558205,  0.77344314, -0.816942  , -0.43286624, -0.42641439,
         -0.38213731,  0.55411459,  0.40687154],
        [ 0.88558205, -1.29291987, -0.56533922, -0.43286624, -0.42641439,
         -0.41869408,  0.55411459, -1.26099119],
        [ 0.88558205, -1.29291987, -0.00350036,  0.3577772 , -0.42641439,
         -0.28254965,  0.55411459,  0.96282579],
        [-1.6107831 ,  0.77344314,  2.20229129, -0.43286624, -0.42641439,
         -0.05013599, -2.02215845,  0.40687154],
        [-0.36260052, -1.29291987,  0.1894691 , -0.43286624, -0.42641439,
         -0.33191196,  0.55411459,  0.96282579]]))

In [35]:
from sklearn.ensemble import RandomForestClassifier

In [36]:
clf = RandomForestClassifier(n_estimators=50, n_jobs=-1, max_depth=3)

In [37]:
clf.fit(x_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=3, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=50, n_jobs=-1,
                       oob_score=False, random_state=None, verbose=0,
                       warm_start=False)

In [38]:
y_pred = clf.predict(x_train)

In [39]:
clf.score(x_train, y_train)

0.8103932584269663

In [40]:
clf.score(x_test, y_test)

0.8212290502793296

Boosting

In [41]:
from sklearn.ensemble import AdaBoostClassifier

In [42]:
clf1 = AdaBoostClassifier(n_estimators=50, learning_rate=0.3)

In [43]:
clf1.fit(x_train, y_train)

AdaBoostClassifier(algorithm='SAMME.R', base_estimator=None, learning_rate=0.3,
                   n_estimators=50, random_state=None)

In [44]:
pred1 = clf1.predict(x_train)

In [45]:
clf1.score(x_train, y_train)

0.8146067415730337

In [46]:
clf1.score(x_test, y_test)

0.8491620111731844

In [51]:
from xgboost import XGBClassifier

In [58]:
clf2 = XGBClassifier(n_estimators=20, n_jobs=-1, learning_rate=0.3)

In [59]:
clf2.fit(x_train, y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.3, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None, n_estimators=20, n_jobs=-1,
              nthread=None, objective='binary:logistic', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [60]:
pred2 = clf2.predict(x_train)

In [61]:
clf2.score(x_train, y_train)

0.8637640449438202

In [62]:
clf2.score(x_test, y_test)

0.8268156424581006

In [64]:
from sklearn.metrics import classification_report